# Installed NPM modules
node_modules/
npm-debug.log
yarn-error.log

# Folder view configuration files
*.DS_Store
desktop.ini
.vscode

# Thumbnail cache files
Thumbs.db

# Local VSCode settings
.vscode

# Production
/build

# Cache
.eslintcache

.env